<body>
<style>
body {
    margin: 0;
    padding: 2px;
    background-color: color(var(--background) blend(var(--foreground) 98%));
    border-left: 3px solid ${side_color};
}
h1 {
    font-size: 0.9rem;
    margin: 1px 0;
    padding: 4px;
    background-color: color(var(--background) blend(var(--foreground) 95%));
    font-family: "SF Mono", Monaco, Menlo, "Cascadia Code", monospace;
}
.arguments {
    font-size: 0.85rem;
    margin: 1px 0 0;
    padding: 3px 4px;
    background-color: color(var(--background) blend(var(--foreground) 85%));
    font-family: "SF Mono", Monaco, Menlo, "Cascadia Code", monospace;
}
.body {
    font-size: 0.85rem;
    margin: 1px 0 0;
    padding: 3px 4px;
    background-color: color(var(--background) blend(var(--foreground) 90%));
    line-height: 1.4;
}
.active {
    font-weight: bold;
    color: var(--greenish);
}
.required {
    color: color(var(--foreground) blend(var(--background) 80%));
}
.optional {
    font-style: italic;
    color: color(var(--foreground) blend(var(--background) 50%));
}
.code {
    background-color: var(--background);
    padding: 0 2px;
    border-radius: 2px;
    font-size: 0.8rem;
}
.entity-name-class {
    ${entity_name_class}
}
.entity-name-function {
    ${entity_name_function}
}
.entity-name-tag-boxlang {
    ${entity_name_tag_boxlang}
}
.entity-other-attribute-name {
    ${entity_other_attribute-name}
}
.storage-modifier {
    ${storage_modifier}
}
.storage-type {
    ${storage_type}
}
.support-function {
    ${support_function}
}
.variable-language {
    ${variable_language}
}
.variable-parameter-function {
    ${variable_parameter_function}
}
.constant-language {
    ${constant_language}
}
</style>
<h1>${header}</h1>
<div class="arguments">${arguments}</div>
<div class="body">${body}</div>
</body>
